* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "Pretendard", sans-serif;
}

button {
    cursor: pointer;
    border: none;
}

textarea {
    resize: none;
    outline: none;
}